<div class="Groups" style="display:inline-block; width:70%;">
  <div id="groups-list" style="width: 100%;">
    <mat-card *ngFor="let group of Groups; index as i;" style="display: flex; flex-direction: row; border-radius:5px; justify-content: center; gap:50px; padding-left:80px;align-items: center;" class="GroupsList">
      <div *ngIf="i%2 == 0;" style="background-color:lightblue; border-radius:5px;">
        <mat-card-header [routerLink]="['/group', group.gid]" style="cursor: pointer;">
          <mat-card-title>{{group.groupName}}</mat-card-title>


          <mat-card-subtitle>GroupId: {{group.gid}}</mat-card-subtitle>
          <mat-card-subtitle>Role: {{group.role}}</mat-card-subtitle>

        </mat-card-header>
        <div>
          <mat-card-subtitle style="display:inline-block; padding-right:500px; margin-left:16px">Members: {{group.memberCount}}</mat-card-subtitle>
          
        </div>
      </div>
      <div *ngIf="i%2 > 0;" style="background-color: #dcf7f7; border-radius: 5px;">
        <mat-card-header [routerLink]="['/group', group.gid]" style="cursor: pointer;">
          <mat-card-title>{{group.groupName}}</mat-card-title>


          <mat-card-subtitle>GroupId: {{group.gid}}</mat-card-subtitle>
          <mat-card-subtitle>Role: {{group.role}}</mat-card-subtitle>


        </mat-card-header>
        <div>
          <mat-card-subtitle style="display:inline-block; padding-right:500px; margin-left: 16px">Members: {{group.memberCount}}</mat-card-subtitle>
         
        </div>
      </div>
    </mat-card>
  </div>
</div>
