<div style="width: 70%; display: inline-block;">
  <div style="width:100%; border-radius:3px; border-bottom: 2px solid grey; background-color:lightblue;">
    <header id="GroupName" style="font-size: 75px; display: inline-block; padding: 40px; padding-top: 40px; color: #0c0b33;">{{Groups[0].groupName}}</header>
    <button (click)="changeName()" style="vertical-align:central;"><mat-icon>input</mat-icon></button>
    <button style="margin-left: 450px;" mat-raised-button class="navigation-btn" routerLink="./createGroupPost">
      <mat-icon>library_add</mat-icon>
      <span>Create posts</span>
    </button>                                                  
  </div>
  <mat-card *ngFor="let post of Posts" style="display: flex; flex-direction: row; justify-content: start; gap:50px; align-items: center;">
    <div>
      <ng-template *ngIf="post.thum_nail_img != undefined; then thumb_nail; else no_thumb_nail"></ng-template>
      <ng-template #thumb_nail>
        <img src="{{post.thum_nail_img}}" alt="thumb_nail" style="height: 150px; width: 150px;">
      </ng-template>
      <ng-template #no_thumb_nail>
        <img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" alt="thumb_nail" style="height: 150px; width: 150px;">
      </ng-template>
    </div>

    <div>
      <mat-card-header [routerLink]="['/post', post.pid]" style="cursor: pointer;">
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>Creator: {{post.creatorAid}} |  Created at {{datepipe.transform(post.createdDate ,'YYYY-MMM-dd')}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{post.postBody}}
        </p>
      </mat-card-content>


    </div>
  </mat-card>
</div>
  
<mat-card style="display:inline-block; width:25%; vertical-align:top;">
  Members: {{Groups[0].memberCount}}
</mat-card>

