<mat-card>
  <h4>{{pageTitle}}</h4>

  <section style="margin-bottom: 10px;">
    <div *ngIf="postModifyData.modifyType==postModifyTypeEnum.Create; then thenBlock else elseBlock"></div>

  </section>
  <ng-template #thenBlock>
    <mat-button-toggle-group name="selectPostType" [(ngModel)]="postCreationValues.PostType">
      <mat-button-toggle [value]="postTypeEnum.SellingPost">Selling Post</mat-button-toggle>
      <mat-button-toggle [value]="postTypeEnum.HousingPost">Housing Post</mat-button-toggle>
      <mat-button-toggle [value]="postTypeEnum.SocialMediaPost">Social Media Post</mat-button-toggle>
    </mat-button-toggle-group>
  </ng-template>

  <ng-template #elseBlock>
    <mat-button-toggle-group name="selectPostType">
      <mat-button-toggle [value]="postCreationValues.PostType">{{postCreationValues.PostType}}</mat-button-toggle>
    </mat-button-toggle-group>
  </ng-template>


  <form (submit)="onSubmitClicked(postForm)" #postForm="ngForm" class="create-post-form" style="display: flex; flex-direction: column; justify-content: space-between;">

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Post Title</mat-label>
      <input matInput
             name="title"
             type="text"
             style="width: 100%;"
             [ngModel]="postCreationValues.postTitle"
             placeholder="Your post title"
             minlength="3"
             #postTitle="ngModel"
             required>
      <mat-error *ngIf="postTitle.invalid">Invalid title</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Post Body</mat-label>
      <textarea matInput
                name="description"
                style="width: 100%;"
                placeholder="Your post body"
                [ngModel]="postCreationValues.postBody"
                #postDescription="ngModel"
                required></textarea>
      <mat-error *ngIf="postDescription.invalid">Invalid description</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;" *ngIf="postCreationValues.PostType == postTypeEnum.SellingPost || postCreationValues.PostType == postTypeEnum.HousingPost">
      <mat-label>Email</mat-label>
      <input matInput
             name="email"
             type="text"
             style="width: 100%;"
             [ngModel]="postCreationValues.email??''"
             placeholder="Your email"
             #postEmail="ngModel"
             email
             required>
      <mat-error *ngIf="postEmail.invalid">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;" *ngIf="postCreationValues.PostType == postTypeEnum.SellingPost">
      <mat-label>Phone Number</mat-label>
      <input matInput
             name="phoneNum"
             type="text"
             style="width: 100%;"
             [ngModel]="postCreationValues.phoneNumber??''"
             placeholder="Your phone number"
             #postPhoneNum="ngModel"
             pattern="[- +()0-9]+"
             required>
      <mat-error *ngIf="postPhoneNum.invalid">Invalid phone number</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;" *ngIf="postCreationValues.PostType == postTypeEnum.HousingPost">
      <mat-label>Your Address</mat-label>
      <input matInput
             name="address"
             type="text"
             style="width: 100%;"
             [ngModel]="postCreationValues.address??''"
             placeholder="Your address"
             minlength="3"
             #postAddress="ngModel"
             required>
      <mat-error *ngIf="postAddress.invalid">Invalid address</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Submit</button>
  </form>

</mat-card>
