<mat-toolbar color="primary">
  <button mat-icon-button color="basic" aria-label="Example icon-button with heart icon" routerLink="/"
      class="navigation-btn">
    <span><h2>UniLife: CPSC 304 Proj</h2></span>
  </button>

  <div id="nav-btn-container">

    <button mat-icon-button color="basic" aria-label="Example icon-button with heart icon" routerLink="/posts-page"
      routerLinkActive="active-link" class="navigation-btn">
      <mat-icon>face</mat-icon>
      <span>Browse</span>
    </button>

    <button mat-icon-button color="basic" aria-label="Example icon-button with heart icon" routerLink="/create-post"
      routerLinkActive="active-link" class="navigation-btn">
      <mat-icon>library_add</mat-icon>
      <span>Create posts</span>
    </button>

  </div>

</mat-toolbar>
