<mat-card-header>
  <mat-card-title>{{myPost.title}}</mat-card-title>
  <mat-card-subtitle>Creator: {{myPost.creator}} | Created at {{datepipe.transform(myPost.create_date,'YYYY-MMM-dd')}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <p>
    {{myPost.description}}
  </p>

  <mat-card-actions>
    <ng-template *ngIf="myPost.likedByMe; then likedButton else notLikedButton"></ng-template>
    <ng-template #likedButton>
      <button mat-flat-button (click)="onClickLike(myPost)">
        <mat-icon color="accent">favorite</mat-icon>
      </button>
    </ng-template>
    <ng-template #notLikedButton>
      <button mat-flat-button (click)="onClickLike(myPost)">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </ng-template>

    <ng-template *ngIf="myPost.dislikedByMe; then DislikedButton else notDislikedButton"></ng-template>
    <ng-template #DislikedButton>
      <button mat-flat-button (click)="onClickDisike(myPost)">
        <mat-icon color="primary">thumb_down</mat-icon>
      </button>
    </ng-template>
    <ng-template #notDislikedButton>
      <button mat-flat-button (click)="onClickDisike(myPost)">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </ng-template>

    <button mat-raised-button>Comment</button>
  </mat-card-actions>
</mat-card-content>
