<mat-toolbar color="basic" style="display: flex; flex-direction: row; justify-content : flex-end;">
  <button mat-raised-button routerLink="/" class="navigation-btn" routerLink="/createPost" [state]="{modifyType: postModifyTypeEnum.Create}">
    <mat-icon>library_add</mat-icon>
    <span>Create posts</span>
  </button>
</mat-toolbar>

<div id="page" style="display: flex; flex-direction: row; justify-content: space-between;">
  <mat-card id="filter-panel" style="width: 27%; display: flex; flex-direction: column;">
    <!-- Tabs -->
    <mat-tab-group dynamicHeight>
      <mat-tab label="Simple">
      </mat-tab>

      <mat-tab label="Search">
        <mat-form-field appearance="standard">
          <mat-label>Search</mat-label>
          <input type="text" matInput >

        </mat-form-field>
        <span matSuffix>
          <button mat-mini-fab color="basic">
            <mat-icon aria-label="Example home icon">search</mat-icon>
          </button>
        </span>
      </mat-tab>

      <mat-tab label="Filter By Categories">
        <mat-list style="display: flex; flex-wrap: wrap; flex-direction: row;">
          <mat-card *ngFor="let category of panelBindedValues.categories" style="height: 25px; display: flex; flex-direction: row; justify-content: start; align-items: center;">
            <h3 matLine> {{category}} </h3>
            <button mat-flat-button color="basic" (click)="removeCategory(category)">
              <mat-icon matListIcon>delete</mat-icon>
            </button>
          </mat-card>
        </mat-list>

        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
          <mat-form-field appearance="standard">
            <mat-label>Category</mat-label>
            <input type="text" matInput #newCategoryInput>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addCategory(newCategoryInput.value)">
            <mat-icon>add_box</mat-icon>
            Add Category
          </button>
        </div>

      </mat-tab>
    </mat-tab-group>

    <mat-form-field appearance="fill">
      <mat-label>Select a type of post</mat-label>
      <mat-select [(ngModel)]="panelBindedValues.postType" name="postTypeSelect">
        <mat-option *ngFor="let type of postTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>OrderBy</mat-label>
      <mat-select [(ngModel)]="panelBindedValues.postOrderBy" name="orderBySelect">
        <mat-option *ngFor="let orderBy of orderBys" [value]="orderBy.postOrder">
          {{orderBy.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="panelBindedValues.orderIsAsc">{{panelBindedValues.orderIsAsc? 'Asc':'Desc'}}</mat-slide-toggle>

    <button mat-raised-button color="primary" (click)="onClickPanelSubmit()">Find</button>
  </mat-card>

  <div id="posts-list" style="width: 70%;">
    <mat-card *ngFor="let post of Posts" style="display: flex; flex-direction: row; justify-content: start; gap:50px; align-items: center;">
      <div>
        <ng-template *ngIf="post.thum_nail_img != undefined; then thumb_nail; else no_thumb_nail"></ng-template>
        <ng-template #thumb_nail>
         <img src="{{post.thum_nail_img}}" alt="thumb_nail" style="height: 150px; width: 150px;">
        </ng-template>
        <ng-template #no_thumb_nail>
          <img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" alt="thumb_nail" style="height: 150px; width: 150px;">
         </ng-template>
      </div>

      <div>
        <mat-card-header [routerLink]="['/post', post.pid]" style="cursor: pointer;">
          <mat-card-title>{{post.title}}</mat-card-title>
          <mat-card-subtitle>Creator: {{post.creatorName}} | Created at {{datepipe.transform(post.createdDate ,'YYYY-MMM-dd')}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{post.postBody}}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <ng-template *ngIf="post.likedByMe; then likedButton else notLikedButton"></ng-template>
          <ng-template #likedButton>
            <button mat-flat-button (click)="onClickLike(post)">
              <mat-icon color="accent">favorite</mat-icon>
            </button>
          </ng-template>
          <ng-template #notLikedButton>
            <button mat-flat-button (click)="onClickLike(post)">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </ng-template>

          <ng-template *ngIf="post.dislikedByMe; then DislikedButton else notDislikedButton"></ng-template>
          <ng-template #DislikedButton>
            <button mat-flat-button (click)="onClickDisike(post)">
              <mat-icon color="primary">thumb_down</mat-icon>
            </button>
          </ng-template>
          <ng-template #notDislikedButton>
            <button mat-flat-button (click)="onClickDisike(post)">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </ng-template>

          <button mat-raised-button>Comment</button>
        </mat-card-actions>
      </div>

    </mat-card>
  </div>
</div>
